<template>
    <div id="id">
        <aside class="sidebar" id="sidebar">
            <div class="navBar">
                <a class="imgCircle" @click.prevent="openNav"></a>
                <p class="head--name"> {{ currentName }}  </p>
            </div>
            <div class="usersList" v-if="showUsers" id="users">
                <div style="height:6vh;width:100%;background: transparent;"></div>
                <p class="user" v-for="uname in unames" style="cursor: pointer;" @click="selectuser(uname)" ><a class="imgCircle--small"></a><span class="text"> {{ uname }}</span><hr class="hr--style"> </p>
            </div>
            <div></div>
        </aside>
        <section class="main-content">
            <div  v-if="userSelected" class="msg" style="overflow: auto;" id="msgSection">
              <div v-for='msg in msg' :class="{'msgRight': 'msg.yours', 'msgLeft': !msg.yours}">
                <p :class="{'myMsg': msg.yours, 'altMsg': !msg.yours}">{{ msg.text }}</p><br>
              </div>
            </div>
            <div  v-if="userSelected" class="inputFieldBar">
                <input type="text" class="inputTextFiled" v-model="inputMessage" id="inputMessage" placeholder="Type a message">
                <button class="btn btn-float"  @click="send"><i class='bx bx-send'></i></button>
            </div>
        </section>

        <div id="mySidenav" ref="mySidenav" class="sidenav">
            <div class="heading">
                <a href="javascript:void(0)" class="closebtn" @click.prevent="closeNav">&times;</a>
                <p style="position: absolute;top:5vh;left: 6vw;color: white;font-size: 1.5rem;font-weight: 900;">Profile</p>
            </div>
            <div class="imgCircle-lg"></div>
        </div>

    </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      showUsers: false,
      unames:[],
      uid: [],
      currentName: '',
      curUserName: '',
      inputMessage: '',
      userSelected: false,
      msg : []
    }
  },
  mounted: function () {
    this.getData()
    this.currentName = localStorage.getItem('name')

  },
  methods: {
    getData () {
      var curName = localStorage.getItem('name')
      var curID = localStorage.getItem('uid')
      console.log(curName)
      firebase.database().ref('names').once('value').then(
        response => {
          this.unames = Object.keys(response.val())
          this.uid = response.val()
          this.unames = this.unames.filter(e => e !== curName);
          console.log(this.unames);
          console.log(this.uid['vamsi']);
          this.showUsers = true
        }
      )
    },
    send () {
      if (this.inputMessage) {
          firebase.database().ref('chat/' + this.currentName + '-' + this.curUserName).push({
            text: this.inputMessage,
            yours: true
          })
          firebase.database().ref('chat/' + this.curUserName + '-' + this.currentName).push({
            text: this.inputMessage,
            yours: false
          })
          this.inputMessage = ''
        }
    },
    selectuser (uname) {
      this.userSelected = true
      this.curUserName = uname
      //setInterval(() => {
        firebase.database().ref('chat/' + this.currentName + '-' + uname).once('value').then(
          response => {
          this.msg = Object.values(response.val())
            console.log(Object.values(response.val()))
            console.log(typeof Object.values(response.val()))
          }
        )
      // }, 1000);
    },
    openNav () {
      this.$refs.mySidenav.style.width = '30vw'
    },
    closeNav() {
      this.$refs.mySidenav.style.width = '0px'
    },
  }
}
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #fefefe;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999;
}

.closebtn {
  position: absolute;
  top: 6vh;
  left: -15px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar {
    width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background:white;
    margin: 0px;
  //  border-right: 1px solid grey;
    z-index: 99;
}

.btn {
  all: unset;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5vh;
  right: 5vw;
  background: #4CAF50;
  border-radius: 50%;
  color: white;
  font-weight: 100;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.navBar{
  height: 7.2vh;
  width: 100%;
  background: #f1f0f0;
}

.imgCircle {
  position: absolute;
  top: 1vh;
  left: 1vw;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: lightgray;
  cursor: pointer;
}

.main-content {
  position: absolute;
  width: 70vw;
  height: 100vh;
  overflow: hidden;
  background: #f5f5f5;
  left: 30vw;
  top: 0px;
}

.msg {
  position: absolute;
  top: 0px;
  height: 93vh;
  width: 100%;
  overflow: auto;
  background: #e4e4e4;
  z-index: 20;
}

.inputFieldBar {
  position: absolute;
  top: 93vh;
  height: 7vh;
  overflow: auto;
  width: 100%;
  background: #f5f5f5;
}

.inputTextFiled {
  all: unset;
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  border: none;
  border-radius: 30px; 
  background-color: white;
  text-align: center;
  transition: 0.3s;
}

.heading {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 13.5vh;
  background: #00bfa5;
}

.imgCircle-lg{
  position: absolute;
  top: 16vh;
  left: 6vw;
  height: 200px;
  width: 200px;
  background: lightslategray;
  border-radius: 50%;
}

.usersList {
  position: absolute;
  top: 8%;
  left: 0px;
  width: 100%;
  height: 92%;
  background-color: white;
  z-index: 900;
}

.btn {
  position: absolute;
  top: 20%;
  left: 95%;
  height:30px;
  width: 30px;
  background:transparent;
  color: #333;
}

.msgBody{
  background: lightcyan;
  padding: 10px;
  float: right;
}


.user {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  margin: 2px;
  background-color: white;
}

.user .text {
  margin-left: -7vw;
  text-align: left;
}



.imgCircle--small {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: -1vh;
  float: left;
  margin-left: 2vw; 
  background : #00bfa5;
}


.head--name {
  position: absolute;
  top: -20px;
  text-align: right;
  left: 10%;
  width: 80%;
  font-size: 30px;
  font-weight: 900;
}

.hr--style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 90%;
   // margin-top: 4vh;
   // margin-bottom: 2vh;
}

.msgRight {
  position: relative;
  max-width: 40%;
  left: 40vw;
}

.msgRight :first-child {
  margin-top: 5vh;
}

.msgLeft :first-child {
  margin-top: 5vh;
}


.msgLeft {
  position: relative;
  max-width: 40%;
  left:5vw;
}

.myMsg {
  background: #00a2bf;
  position: relative;
  margin-bottom: 20px;
  z-index: 999;
  width: 100%;
  overflow: auto;
  float: right;
  margin-right: 1vw;
  font-size: 1.5rem;
  padding: 25px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  display: block;
  transition: 0.5s;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.altMsg {
  background: #efefef;
  position: relative;
  margin-bottom: 20px;
  z-index: 999;
  width: 100%;
  float: right;
  margin-left: 2vw;
  font-size: 1.5rem;
  overflow: auto;
  padding: 25px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #333;
  display: block;
  transition: 0.5s;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(10px);
            transform: translateZ(10px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(10px);
            transform: translateZ(10px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
  }
}

</style>
