<template>
    <div class="body">
        <div id="uuid" class="main" style="">
            <input type="text" placeholder ="your name" v-model="name" class="userNameInput" id="userNameInput"> <br>
            <input type="password" placeholder ="password" v-model="password" class="userPassInput" id="userPassInput"> <br>
            <button @click="signup" class='btn'>SignUp</button>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      ip: '',
      name: '',
      password: '',
      hashedPass: '',
      locString: '',
      unames: '',
      uid: '',
    }
  },
  mounted: function () {
    this.locationGetter()
    this.ipGetter()
    this.randomStringGenerator()
  },
  methods : {
    locationGetter () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition)
      } else {
        alert('We Donot Have Your Location')
      }
      function showPosition (position) {
        var lat= position.coords.latitude
        var long = position.coords.longitude
        localStorage.setItem('curLat', lat)
        localStorage.setItem('curLong', long)
        var tempLat = lat.toString()
        tempLat = tempLat.replace('.', '')
        var tempLong = long.toString()
        tempLong = tempLong.replace('.', '' )
        var locationString = tempLat + tempLong
        console.log(locationString)
        localStorage.setItem('locString', locationString)
      }      
    },
    ipGetter () {
      var curIp;
      
      function getUserIP(onNewIP) {
          var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
          var pc = new myPeerConnection({
              iceServers: []
          }),
          noop = function() {},
          localIPs = {},
          ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
          key;
      
          function iterateIP(ip) {
              if (!localIPs[ip]) onNewIP(ip);
              localIPs[ip] = true;
          }
      
          //create a bogus data channel
          pc.createDataChannel("");
      
          // create offer and set local description
          pc.createOffer(function(sdp) {
              sdp.sdp.split('\n').forEach(function(line) {
                  if (line.indexOf('candidate') < 0) return;
                  line.match(ipRegex).forEach(iterateIP);
              });
              
              pc.setLocalDescription(sdp, noop, noop);
          }, noop); 
      
          //listen for candidate events
          pc.onicecandidate = function(ice) {
              if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
              ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
          };
        }
        getUserIP(function(ip){
            curIp = ip.toString()
            curIp = curIp.split('.').join('')
            localStorage.setItem('currentIPAddress' , curIp)
            console.log(curIp)
        });
    },
    randomStringGenerator () {
      var randomString = '';
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 15; i++) {
        randomString += possible.charAt(Math.floor(Math.random() * possible.length));
      }
      console.log(randomString)
      localStorage.setItem('randomString', randomString )
    },
    signup () {
      if ( this.name && this.password ) {
          firebase.database().ref('names').once('value').then(
            response => {
              this.unames = response.val()
              if (this.unames != null) {
                 var x = Object.keys(this.unames)
                  console.log(x)
                  console.log(typeof this.unames, this.unames)
                  if (x.includes(this.name)) {
                      alert('User Already Exists. Please change your user Name')
                  } else {
                      this.hashedPass = md5(this.password);
                      var d = new Date()
                      var t = d.getTime()
                      var refString = localStorage.getItem('locString') + localStorage.getItem('currentIPAddress') + localStorage.getItem('randomString')  + t;
                      this.uid = md5(refString);
                      firebase.database().ref('names/' + this.name).set(this.uid)
                      firebase.database().ref('users/' + this.hashedPass).set({
                          userName: this.name,
                          userId: this.uid,
                          password: this.hashedPass,
                          createdTime: t
                      }).then(
                          response => {
                              localStorage.setItem('pass', this.hashedPass)
                              localStorage.setItem('name', this.name)
                              localStorage.setItem('uid', this.uid)
                              localStorage.setItem('loggedStatus', true)
                              this.$router.push('chat')
                          }
                      ).catch(
                          error => {
                              alert(error)
                          }
                      )
                  }
              } else {
                this.hashedPass = md5(this.password);
                // alert(hashedPass)
                var d = new Date()
                var t = d.getTime()
                var refString = localStorage.getItem('locString') + localStorage.getItem('currentIPAddress') + localStorage.getItem('randomString')  + t;
                this.uid = md5(refString);
                firebase.database().ref('names/' + this.name).set(this.uid)
                firebase.database().ref('users/' + this.hashedPass).set({
                    userName: this.name,
                    userId: this.uid,
                    password: this.hashedPass,
                    createdTime: t
                }).then(
                    response => {
                        localStorage.setItem('pass', this.hashedPass)
                        localStorage.setItem('name', this.name)
                        localStorage.setItem('uid', this.uid)
                        localStorage.setItem('loggedStatus', true)
                        this.$router.push('chat')
                    }
                ).catch(
                    error => {
                        alert(error)
                    }
                )
              } 
            }
          )
      } else {
        alert('nope')
      }
    } 
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  margin-top: 0px;     
}

.main {
  background-color: #fefefe;
  height: 50vh;
  width: 50vw;
  margin-top: 25vh;
  margin-left: 25vw;
  border-radius: 20px;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.userNameInput {
  all :unset;
  height: 8vh;
  width: 30vw;
  background: #eeeeee;
  position: relative;
  margin-top: 8vh;
  margin-left: 1vw;
  text-align: center;
  font-weight: 900;
  border-radius: 50px;
  transition: 0.3s;
}

.userPassInput {
  all :unset;
  height: 8vh;
  width: 30vw;
  background: #eeeeee;
  position: relative;
  margin-top: 2vh;
  margin-left: 1vw;
  text-align: center;
  font-weight: 900;
  border-radius: 50px;
  transition: 0.3s;
}

.userPassInput:focus {
  background: #e7e7e7;
}

.userNameInput:focus {
  background: #e7e7e7;
}

.btn {
  all: unset;
  height: 8vh;
  width: 20vw;
  margin-left: 1vw;
  margin-top: 2vh;
  background: #4CAF50;
  border-radius: 50px;
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: rgb(58, 139, 60);
}

.alt {
  text-align: center;
  margin-top: 5vh;
  color:red;
  text-decoration: none;
 // text-decoration-style: wavy;
  font-size: 1.2em;
  cursor: pointer;
}
</style>

